tqdm
torch-scatter==2.0.9 -f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-cluster==1.6.0 -f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-sparse==0.6.15 -f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch_geometric==2.1.0 -f https://data.pyg.org/whl/torch-1.11.0+cu113.html
ipywidgets
ipykernel
notebook
cairosvg